NODE_ENV=dev
PORT=3000

#MONGO
MONGO_URI=mongodb://root:password@2ze8f5e1c0993b9433310.mongodb.sic.com:3717/chain
MONGO_URI2=mongodb://root:password@2ze8f5e1c0993b9433311.mongodb.sic.com:3717/user

#eosd
EOSD_CONNECTOR_URI=http://10.3.0.29:8888

#ALI_OSS
ALI_OSS_REGION=aaaaaaaaaa
ALI_OSS_ACCESSKEY=dddddddd
ALI_OSS_ACCESSKEY_SECRET=ddfaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
ALI_OSS_BUCKET=sic-file-dev

#ALI_SMS
ALI_SMS_ACCESSKEY=ddddddd
ALI_SMS_ACCESSKEY_SECRET=aaaaaaaaaaaa

#sic.account
SIC_COMM_PUB_KEY=EOS6pqCqAA1ciKracdQXa9BCGJZbejehKR8QBaQDo2qQLhnbCvuP6
SIC_COMM_PRI_SECRET=5JNEaFrtevDEWXntmyshVLufPyDoSWov1VNxrs4EyHyk91eZUHX

# Ethereum
ETH_CONNECTOR_URI=http://10.3.2.188:8545
ETH_CHAIN_ID=50697
ETH_GAS_PRICE=1
ETH_GAS_LIMIT=auto
